@use "./resources/config" as c;
@use "./resources/global";

@use "./resources/header01";
@use "./resources/art14";
@use "./resources/art13";
@use "./resources/artForm02";
@use "./resources/moduloLoader01";

@use "./resources/art02";
@use "./resources/moduloBoton02";
@use "./resources/art09";
@use "./resources/art11";



.art14{
    @media only screen and (min-width:c.$desktop){
        width: 60%;
    }
}

h1{
    color: c.$color01;
}


p{
    font-family: c.$fuenteTextos;
    text-align: center; 
    color:black;
}
